.hero-bg {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    height: 100vh;
    overflow: hidden;

    background-color: var(--color-bg);
    background-image: radial-gradient(
        var(--color-dots-default) 1px,
        transparent 1px
    );
    background-size: 20px 20px;
    background-position: 0 0;
    background-repeat: repeat;
}
