@import "./styles/variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/components.css";
@import "./styles/layout.css";

section[id] {
    scroll-margin-top: 4rem;
}
html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}
